<p id="notice"><%= notice %></p>

<p>
  <strong>Reply:</strong>
  <%= @comment_reply.reply %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment_reply.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment_reply.user %>
</p>

<%= link_to 'Edit', edit_comment_reply_path(@comment_reply) %> |
<%= link_to 'Back', comment_replies_path %>
