<%= form_with(model: post_reply, local: true) do |form| %>
  <% if post_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_reply.errors.count, "error") %> prohibited this post_reply from being saved:</h2>

      <ul>
      <% post_reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :flag_delete %>
    <%= form.check_box :flag_delete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
