<div class="card">
  <%= form_with(model: post_reply, local: true) do |form| %>
    <div class="card-body">
      <% if post_reply.errors.any? %>
        <div class="alert">
          <p class="lead"><%= pluralize(post_reply.errors.count, "error") %> prohibited this post_reply from being saved:</p>

          <ul>
            <% post_reply.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, :class => 'form-control', :required => 'required' %>
      </div>
    </div>

    <div class="card-footer">
      <%= form.submit 'Submit', :class => 'btn btn-block btn-primary' %>
    </div>
  <% end %>
</div>