<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @user.nama %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Telepon:</strong>
  <%= @user.telepon %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
