<%= form_with(model: reply_post, local: true) do |form| %>
  <% if reply_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply_post.errors.count, "error") %> prohibited this reply_post from being saved:</h2>

      <ul>
      <% reply_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_field :post %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
