<p id="notice"><%= notice %></p>

<h1>Reply Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reply_posts.each do |reply_post| %>
      <tr>
        <td><%= reply_post.post %></td>
        <td><%= reply_post.content %></td>
        <td><%= reply_post.user %></td>
        <td><%= link_to 'Show', reply_post %></td>
        <td><%= link_to 'Edit', edit_reply_post_path(reply_post) %></td>
        <td><%= link_to 'Destroy', reply_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply Post', new_reply_post_path %>
