<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @reply_post.post %>
</p>

<p>
  <strong>Content:</strong>
  <%= @reply_post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply_post.user %>
</p>

<%= link_to 'Edit', edit_reply_post_path(@reply_post) %> |
<%= link_to 'Back', reply_posts_path %>
