<div class="card my-3">
  <div class="card-body">
    <div class="border-bottom">
      <p class="lead"><%= @post.title %> <span class="badge badge-secondary"><%= @post.category.nama %></span></p>
      <p>Created by : <%= @post.user.username %> (<%= @post.created_at.strftime('%F | %H:%M ') %>) </p>
    </div>
    <div class="my-2">
      <%= @post.content %>
    </div>
  </div>
  <% if user_signed_in? %>
    <% if (current_user.id == @post.user_id) or (current_user.is_admin == true) %>
      <div class="card-footer">
        <%= link_to 'Edit Question', edit_post_path(@post), :class => 'btn btn-info' %>
      </div>
    <% end %>
  <% end %>
</div>


<% @reply.each do |post_reply| %>
  <div class="card my-4">
    <div class="card-body">
      <div class="border-bottom">
        <p><%= post_reply.user.username %></p>
      </div>
      <div>
        <%= post_reply.content %>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-4">
          <%= post_reply.created_at.strftime('%F | %H:%M ') %>
        </div>
        <div class="col-md-8 text-right">
          <% if user_signed_in? %>
            <% if (current_user.id == post_reply.user_id) or (current_user.is_admin) %>
              <%= link_to 'Edit', edit_post_reply_path(post_reply), :class => 'btn btn-outline-primary' %>
              <%= link_to 'Delete', post_reply, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="card my-3">
  <% if user_signed_in? %>
    <%= form_tag(controller: "post_replies", action: "create") do %>
      <div class="card-body">
        <div class="form-group">
          <%= label_tag(:content, 'Content :') %>
          <%= text_area_tag(:content,'',class: 'form-control',:required => 'required') %>
        </div>
      </div>
      <div class="card-footer">
        <%= submit_tag("Add Comment", class: 'btn btn-primary btn-block') %>
      </div>
    <% end %>
  <% else %>
    <div class="card-body">
      <%= link_to 'Sign in to reply this question', new_user_session_path, :class => 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>