<div class="card">
    <%= form_with(model: category, local: true) do |form| %>
        <div class="card-body">
            <% if category.errors.any? %>
                <div class="alert alert-danger">
                    <p><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</p>
                    <ul>
                    <% category.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
            <div class="form-group">
                <%= form.label :nama %>
                <%= form.text_field :nama, :class => 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :deskripsi %>
                <%= form.text_area :deskripsi, :class => 'form-control' %>
            </div>
        </div>
        <div class="card-footer">
            <%= form.submit 'Create Category', :class => 'btn btn-primary' %>
        </div>
    <% end %>
</div>