<!DOCTYPE html>
<html>
    <head>
        <title>QaRails</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <%= render 'parts/header' %>
        <div class="container">
            <% if alert %>
                <div class="alert alert-danger">
                    <%= alert %>
                </div>
            <% end %>
            <% if notice %>
                <div class="alert alert-success">
                    <%= notice %>
                </div>
            <% end %> 
            <%= yield %>
        </div>
    </body>
</html>
